
<h1>Album Detail</h1>

<div class="album-details">
  <p class="album-info"><strong>Album Name:</strong> <%= album.release_name %></p>
  <p class="album-info"><strong>Artist Name:</strong> <%= album.artist_name %></p>
  <p class="album-info"><strong>Release Date:</strong> <%= album.release_date %></p>
  <p class="album-info"><strong>Description:</strong> <%= album.descriptors %></p>
</div>

<div class="album-actions">
  <button onclick="window.location.href='/albums'" class="back-button">Back</button>
</div>