<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Delete Album</title>
</head>
<body>
  <h1>Delete Album</h1>
  <form id="deleteAlbumForm" action="/albums/<%= album._id %>" method="POST">
    <p>Are you sure you want to delete this album?</p>
    <p>Title: <%= album.release_name %></p>
    <p>Artist: <%= album.artist_name %></p>
    <p>Release Date: <%= album.release_date %></p>
    <button type="submit">Delete Album</button>
  </form>

  <script>
    const deleteAlbumForm = document.getElementById('deleteAlbumForm');
    deleteAlbumForm.addEventListener('submit', (event) => {
      event.preventDefault(); 

      const confirmation = confirm('Are you sure you want to delete this album?');
      if (confirmation) {
        
        deleteAlbumForm.submit();
      }
    });
  </script>
</body>
</html>
