<!DOCTYPE html>
<html>
<head>
  <title>Top 5000 Albums</title>
</head>
<body>
  <h1>Welcome to Top 5000 Albums</h1>
  <ul>
    <% albums.forEach(album => { %>
      <li><%= album.release_name %> - <%= album.artist_name %></li>
    <% }); %>
  </ul>
</body>
</html>