<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <h1>Login</h1>
  
  <% if (signupSuccess) { %>
    <p>Login Successful!</p>
    <a href="/" class="home-button">Home</a>
  <% } else if (failedAttempt) { %>
    <p>Invalid credentials. Please try again.</p>
  <% } else { %>
    <form method="POST" action="/users/login">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>
      <br>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
      <br>
      <button type="submit">Submit</button>
    </form>
  <% } %>

</body>
</html>
